<script type="text/javascript" charset="utf-8">
//When clicked, element switches to input with child text selected
jQuery.fn.quickCopy = function() {
	$.each($(this), function() {
		var el = $(this)
		var oldVal = el.html()
		var input = $("<input type='text' style='width: 190px;' value='" + oldVal.replace(/'/g, "\'") + "' />")

		el.mouseover(function() {
			el.addClass("highlight")
		})

		el.mouseout(function() {
			el.removeClass("highlight")
		})

		el.click(function() {
			el.html(input)
			input.focus()
			input.select()
			input.blur(function() {
				el.html(oldVal)
			})
		})



	})

}

$(document).ready(function() {
	$('.linktext').quickCopy()
})
</script>
<div class="container_16">
<div class="search_results">
	<div class="grid_11 suffix_1">
		
	
	<% if @functions.size == 0 %>
	<h3>Sorry, couldn't find any results for your search of '<%= @orig_query %>'. </h3>
	<% else %>
	<h3>Found <%= @functions.length %> results for query '<%= @orig_query %>'.</h3>
	<br />
	<% @functions.each do |f| %>
        <% if !f.nil? %>
        <%= puts f.library %>
	<div class="search_result">
		<h4>
			<%= link_to f.name, f.link_opts %>
			<span class="ns">
				<%= link_to f.namespace.name, :controller => 'main', :action => 'ns', :lib => f.library.url_friendly_name, :ns => f.namespace.name %>
			</span>
		</h4>
		<p class="doc"><%= format_overtone_doc f.doc %></p>
		<span class="extra_info">
		<span class="examples_count">
			<%= f.examples.size %> example<%= (f.examples.size != 1 ? "s" : "") %>
		</span>
		-
		<span class="linktext"><%= f.href %></span>
		</span>
		
	</div>
        <% end %>
	<% end %>
	<h4 style="border-top: solid #ccc 1px">

	</h4>
	<% end%>
	</div>
	<div class="grid_4">
		<div class="about_search">
			<h3>Search Options</h3>
			<p>Overtone docs uses the built in full-text search of Postgres. It searches in the name and doc string as you'd expect. It also looks for close spellings so it should handle any fat fingered typos you throw at it too.</p>
		</div>
	</div>
</div>
</div>
